---
layout: default
---

<small>{{ page.date | date: "%-d %B %Y" }}</small>
<h1>{{ page.title }}</h1>

<p class="view">by {{ page.author | default: site.author }}</p>

{{content}}

<p>
  Jangan lupa dukung ngupuk dengan klik tombol <strong>Dukung Ngupuk</strong>
  Kalian bisa gunakan ovo, gopay, link aja dll
</p>
<p>
  <a href="https://saweria.co/ngupuk">
    <img
      src="https://dabuttonfactory.com/button.png?t=Dukung+Ngupuk&amp;f=Open+Sans-Bold&amp;ts=26&amp;tc=fff&amp;hp=45&amp;vp=20&amp;c=11&amp;bgt=unicolored&amp;bgc=15d798"
      alt="https://saweria.co/ngupuk" />
  </a>
</p>

<hr />

<h3>Episode Sebelumnya</h3>

{% for cat in site.category-list %}
<ul>
  {% for page in site.posts %}
  {% for pc in page.categories %}
  {% if pc == cat %}
  <li><a href="{{ page.url }}">{{ page.title }}</a></li>
  {% endif %}
  {% endfor %}
  {% endfor %}
</ul>
{% endfor %}

<hr />

{% if page.tags %}
<small>tags: <em>{{ page.tags | join: "</em> - <em>" }}</em></small>
{% endif %}