---
layout: default
---

<small>{{ page.date | date: "%-d %B %Y" }}</small>
<h1>{{ page.title }}</h1>

<p class="view">by {{ page.author | default: site.author }}</p>

{{content}}

{% assign random = site.time | date: "%s%N" | modulo: site.posts.size %}
{% assign random1 = site.time | date: "%s%N" | modulo: site.posts.size %}
{% assign random2 = site.time | date: "%s%N" | modulo: site.posts.size %}
{% assign random3 = site.time | date: "%s%N" | modulo: site.posts.size %}
{% assign random4 = site.time | date: "%s%N" | modulo: site.posts.size %}
<h4>Baca Juga</h4>
<ul>
  <li><a href="{{ site.posts[random].url }}">{{ site.posts[random].title }}</a></li>
  <li><a href="{{ site.posts[random1].url }}">{{ site.posts[random1].title }}</a></li>
  <li><a href="{{ site.posts[random2].url }}">{{ site.posts[random2].title }}</a></li>
  <li><a href="{{ site.posts[random3].url }}">{{ site.posts[random3].title }}</a></li>
  <li><a href="{{ site.posts[random4].url }}">{{ site.posts[random4].title }}</a></li>
</ul>

<hr />
{% if page.tags %}
<small>tags: <em>{{ page.tags | join: "</em> - <em>" }}</em></small>
{% endif %}


{% include comment.html %}